* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-container {
    width: 100%;
    height: 80vh;
    background: url('https://s3.rdbuz.com/images/webplatform/india/Homepage%20header-03%202.webp') 
        no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 12px 12px 12px 12px rgba(22, 21, 21, 0.2);
    gap: 15px;
}

.form-group {
    width: 25%;
}

.form-group input {
    width: 100%;
    padding: 18px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 12px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input[type="date"] {
    font-family: inherit;
    color: #050404;
}

.form-group input:focus {
    border-color: #B22222;
}
.search-btn {
    padding: 18px 40px;
    background-color: #bfddd6;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.search-btn:hover {
    background-color: #FF6347;
}

@media (max-width: 768px) {
    .form-section {
        flex-direction: column;
        width: 90%;
        padding: 25px;
    }

    .form-group {
        width: 100%;
        margin-bottom: 15px;
    }

    .search-btn {
        width: 100%;
    }
}
