<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<div class="big-container">
  <div class="form-section">

    <!-- FROM -->
    <div class="form-group" style="position: relative;">
      <label for="from"><i class="fas fa-map-marker-alt"></i> From</label>
      <input
        type="text"
        id="from"
        #fromInput
        (input)="filterFrom(fromInput.value)"
        placeholder="Enter departure location"
        autocomplete="off"
      />
      <ul class="suggestions" *ngIf="filteredFromOptions.length > 0">
        <li *ngFor="let option of filteredFromOptions" (click)="selectFrom(option, fromInput)">
          {{ option }}
        </li>
      </ul>
    </div>

    <!-- TO -->
    <div class="form-group" style="position: relative;">
      <label for="to"><i class="fas fa-map-marker-alt"></i> To</label>
      <input
        type="text"
        id="to"
        #toInput
        (input)="filterTo(toInput.value)"
        placeholder="Enter destination"
        autocomplete="off"
      />
      <ul class="suggestions" *ngIf="filteredToOptions.length > 0">
        <li *ngFor="let option of filteredToOptions" (click)="selectTo(option, toInput)">
          {{ option }}
        </li>
      </ul>
    </div>

    <!-- DATE -->
    <div class="form-group">
      <label for="date"><i class="fas fa-calendar-alt"></i> Date</label>
      <input type="date" id="date" #dateInput />
    </div>

    <!-- SEARCH -->
    <button
      class="search-btn"
      (click)="searchBuses(fromInput.value, toInput.value, dateInput.value)">
      <i class="fas fa-search"></i> Search
    </button>

  </div>
</div>


